body{
    max-width:1440px;
    height:calc(100vh - 20px);
    background-color:hsl(212, 45%, 89%);
    overflow:hidden;
    display:flex;
    flex-direction:column;
}

#middlecontent{
    max-width:300px;
    margin:auto;
    background-color: white;
    padding:1rem;
    border-radius:1.5rem;
    justify-content: space-between;
}

.qrimage > img{
    margin:0 auto;
    width:100%;
    aspect-ratio: 1;
    border-radius:.7rem;
}

.qrimage{
    display:flex;
}

.qrtext{
    text-align:center;
}

.qrtext > h3 {
    font-weight: 700;
    font-family: "outline", sans-serif;
    font-size:22px;
    padding:0px 10px;
}

.qrtext > p {
    font-weight: 400;
    font-family: "outline", sans-serif;
    font-size:15px;
    padding:0px 30px;
}
