body{
    min-height: calc(100vh - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow:hidden;
    }

main{
    max-width:300px;
    margin:auto;
    background-color: white;
    padding:16px;
    border-radius:1.5rem;
    justify-content: space-between;
}

.qrimage > img{
    margin:0 auto;
    max-width:100%;
    aspect-ratio: 1;
    border-radius:.7rem;
}

.qrtext{
    text-align:center;
    margin:15px;
    font-size:15px;
    font-family: "outline", sans-serif;

}

.qrtext > h1 {
    font-weight: 700;
}

.qrtext > p {
    font-weight: 400;
    margin-top:10px;
}

